@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/dist/flowbite.css";

html,
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #62ff0010;
}
button {
  font-family: "Poppins", sans-serif;
}
